<h1> Formulário para cadastrar pagamento</h1>
<form action="/add-payment" method="post">
    <label for="nome">Nome:</label>
    <input type="text" name="nome" id="nome"> <br> <br>
    <label for="valor">Valor:</label>
    <input type="number" name="valor" id="valor"> <br> <br>
    <input type="submit" value="Cadastrar">
</form>